@font-face {
    font-family: 'BrunoAce';
    src: url("fonts/BrunoAce-Regular.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, dl, li {
    font-family: 'BrunoAce';
    color: #fff;
}

body {
    width: 950px;
    margin: 50px auto;
    background: #1d1160;
}

h1, h2, h3, h4, h5, h6 {
    color: #22D900;
}

a {
    color: darkred;
}

div.underTopic {
    border: 3px solid #22D900;
    padding: 10px 50px;
    margin: 5px 25px;
    border-radius: 30px;
}