@font-face {
    font-family: 'BrunoAce';
    src: url("fonts/BrunoAce-Regular.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, dl, li {
    font-family: 'BrunoAce';
    color: #fff;
}

body {
    width: 950px;
    margin: 50px auto;
    background: rgb(10,103,46);
    background: radial-gradient(circle, rgba(10,103,46,1) 0%, rgba(15,6,46,1) 50%, rgba(15,6,46,1) 100%);
}

h1, h2, h3, h4, h5, h6 {
    color: #22D900;
}

a {
    color: mediumseagreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.underTopic {
    border: 3px solid #22D900;
    padding: 10px 50px;
    margin: 20px 25px;
    border-radius: 30px;
}